body {
    font-family: Arial, Helvetica, sans-serif;
}

li {
    margin-bottom: 10px;
}

img {
    border-radius: 15px;
    width: 780px;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

.main-body {
    background: linear-gradient(.25turn, #3c3f63, #573c56);
}

.main-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.recipe-links-ul {
    background-color: white;
    color: #12141c;
    font-weight: bold;
    list-style: none;
    padding: 24px 55px 14px 55px;
    border-radius: 15px;
}

/* Milk Steak recipe page */
.milk-steak-body {
    background: linear-gradient(.25turn, #eed521, #ffed71, #004522);
    color: #2b2300;
    font-weight: bold;
}

.milk-steak-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.milk-steak-ul {
    background-color: #40C575;
    color: white;
    list-style: disc;
    border-radius: 15px;
    padding: 24px 55px 14px 55px;
}

.peeps-and-mms-description {
    text-align: center;
}



/*Peeps and MM's recipe page */
.peeps-and-mms-body {
    background-color: #6DB866;
    color: white;
    font-weight: bold;
}

.peeps-and-mms-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.peeps-and-mms-ul {
    background-color: #CB0600;
    color: white;
    list-style: disc;
    border-radius: 15px;
    padding: 24px 55px 14px 55px;
}

.peeps-and-mms-description {
    text-align: center;
}



/* Krabby Patty recipe page */
.krabby-patty-body {
    background: linear-gradient(.25turn, #f7e948, #ff808b);
    color: #ff3b3b;
    font-weight: bold;
}

.krabby-patty-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.krabby-patty-ul {
    background-color: #a3d3c3;
    color: #f7e948;
    list-style: disc;
    border-radius: 15px;
    padding: 24px 55px 14px 55px;
}

.krabby-patty-description {
    text-align: center;
}